<h2><%= @pet.name %></h2>
<h3>Found at <%= @pet.address %></h3>
<h3><%= @pet.specie %></h3>
<h4><%= @pet.days_lost %></h4>


<%= link_to 'Edit pet', edit_pet_path(@pet) %>
<hr>
<%= link_to 'Delete pet',
            pet_path(@pet),
            data: {
              turbo_method: :delete,
              turbo_confirm: 'Are you sure?'
            } %>
<hr>
<%= link_to 'Back to pets', pets_path %>
